<!DOCTYPE html>
<html>
  <head>
    <title>Image Upscaler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body>
    <center><p id="instructions">Drag images below to upscale them!</p></center>
    <div id="previews" class="dropzone-previews"></div>
    <center><img id="arrow" src="static/down-arrow.png"></center>
    <img id="upscaled" src="#">
  </body>
</html>