<!DOCTYPE html>
<html>
  <head>
    <title>Image Upscaler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body>
    Drag images here to upscale them!
    <div id="previews" class="dropzone-previews"></div>
    <button id="clickable">Browse</button>
    <img id="upscaled" src="#">
  </body>
</html>